<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlg_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,967},{180,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,20}}</string>
                <key>sourceSize</key>
                <string>{180,20}</string>
            </dict>
            <key>hlg_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{249,619}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,619}}</string>
                <key>sourceSize</key>
                <string>{249,619}</string>
            </dict>
            <key>hlg_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,937},{171,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,66}}</string>
                <key>sourceSize</key>
                <string>{171,66}</string>
            </dict>
            <key>hlg_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{892,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,291}}</string>
                <key>sourceSize</key>
                <string>{892,291}</string>
            </dict>
            <key>hlg_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,623},{342,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,96}}</string>
                <key>sourceSize</key>
                <string>{342,96}</string>
            </dict>
            <key>hlg_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{656,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,80}}</string>
                <key>sourceSize</key>
                <string>{656,80}</string>
            </dict>
            <key>hlg_brokengate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{749,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,640}}</string>
                <key>sourceSize</key>
                <string>{749,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hlg2.png</string>
            <key>size</key>
            <string>{1015,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de798928badf1bbf7cbf393f0d73cb62:51a540501882ad698bf9c8697423c834:1d32fb01c05af4aa9cbf96c221ed0c7e$</string>
            <key>textureFileName</key>
            <string>hlg2.png</string>
        </dict>
    </dict>
</plist>
