<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlg_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{455,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,37}}</string>
                <key>sourceSize</key>
                <string>{455,37}</string>
            </dict>
            <key>hlg_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{828,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,167}}</string>
                <key>sourceSize</key>
                <string>{828,167}</string>
            </dict>
            <key>hlg_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{188,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,629}}</string>
                <key>sourceSize</key>
                <string>{188,629}</string>
            </dict>
            <key>hlg_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,633},{166,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,244}}</string>
                <key>sourceSize</key>
                <string>{166,244}</string>
            </dict>
            <key>hlg_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{773,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,166}}</string>
                <key>sourceSize</key>
                <string>{773,166}</string>
            </dict>
            <key>hlg_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,879},{174,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,113}}</string>
                <key>sourceSize</key>
                <string>{174,113}</string>
            </dict>
            <key>hlg_brokengate6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,616}}</string>
                <key>sourceSize</key>
                <string>{816,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hlg3.png</string>
            <key>size</key>
            <string>{1022,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de798928badf1bbf7cbf393f0d73cb62:51a540501882ad698bf9c8697423c834:1d32fb01c05af4aa9cbf96c221ed0c7e$</string>
            <key>textureFileName</key>
            <string>hlg3.png</string>
        </dict>
    </dict>
</plist>
