<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlg_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,740},{256,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,361}}</string>
                <key>sourceSize</key>
                <string>{256,361}</string>
            </dict>
            <key>hlg_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{618,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,171}}</string>
                <key>sourceSize</key>
                <string>{618,171}</string>
            </dict>
            <key>hlg_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{585,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,159}}</string>
                <key>sourceSize</key>
                <string>{585,159}</string>
            </dict>
            <key>hlg_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{736,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,172}}</string>
                <key>sourceSize</key>
                <string>{736,172}</string>
            </dict>
            <key>hlg_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{581,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,65}}</string>
                <key>sourceSize</key>
                <string>{581,65}</string>
            </dict>
            <key>hlg_brokengate4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,616}}</string>
                <key>sourceSize</key>
                <string>{816,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hlg4.png</string>
            <key>size</key>
            <string>{1021,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de798928badf1bbf7cbf393f0d73cb62:51a540501882ad698bf9c8697423c834:1d32fb01c05af4aa9cbf96c221ed0c7e$</string>
            <key>textureFileName</key>
            <string>hlg4.png</string>
        </dict>
    </dict>
</plist>
