<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{721,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,134}}</string>
                <key>sourceSize</key>
                <string>{721,134}</string>
            </dict>
            <key>hlg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,725},{228,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,382}}</string>
                <key>sourceSize</key>
                <string>{228,382}</string>
            </dict>
            <key>hlg_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{532,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,53}}</string>
                <key>sourceSize</key>
                <string>{532,53}</string>
            </dict>
            <key>hlg_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,616}}</string>
                <key>sourceSize</key>
                <string>{816,616}</string>
            </dict>
            <key>hlg_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{512,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,223}}</string>
                <key>sourceSize</key>
                <string>{512,223}</string>
            </dict>
            <key>hlg_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{619,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,156}}</string>
                <key>sourceSize</key>
                <string>{619,156}</string>
            </dict>
            <key>hlg_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,955},{471,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,65}}</string>
                <key>sourceSize</key>
                <string>{471,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hlg5.png</string>
            <key>size</key>
            <string>{1022,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de798928badf1bbf7cbf393f0d73cb62:51a540501882ad698bf9c8697423c834:1d32fb01c05af4aa9cbf96c221ed0c7e$</string>
            <key>textureFileName</key>
            <string>hlg5.png</string>
        </dict>
    </dict>
</plist>
