<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{542,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,421}}</string>
                <key>sourceSize</key>
                <string>{542,421}</string>
            </dict>
            <key>hlg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,546},{512,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,67}}</string>
                <key>sourceSize</key>
                <string>{512,67}</string>
            </dict>
            <key>hlg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{511,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,98}}</string>
                <key>sourceSize</key>
                <string>{511,98}</string>
            </dict>
            <key>hlg_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{665,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,126}}</string>
                <key>sourceSize</key>
                <string>{665,126}</string>
            </dict>
            <key>hlg_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{618,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,472}}</string>
                <key>sourceSize</key>
                <string>{618,472}</string>
            </dict>
            <key>hlg_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,615},{402,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,288}}</string>
                <key>sourceSize</key>
                <string>{402,288}</string>
            </dict>
            <key>hlg_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{510,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,63}}</string>
                <key>sourceSize</key>
                <string>{510,63}</string>
            </dict>
            <key>hlg_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{625,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,72}}</string>
                <key>sourceSize</key>
                <string>{625,72}</string>
            </dict>
            <key>hlg_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{706,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,101}}</string>
                <key>sourceSize</key>
                <string>{706,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hlg6.png</string>
            <key>size</key>
            <string>{1000,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de798928badf1bbf7cbf393f0d73cb62:51a540501882ad698bf9c8697423c834:1d32fb01c05af4aa9cbf96c221ed0c7e$</string>
            <key>textureFileName</key>
            <string>hlg6.png</string>
        </dict>
    </dict>
</plist>
