<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chibi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,576},{158,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,126}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>chibi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,447},{107,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>chibi_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,776},{237,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,478}}</string>
                <key>sourceSize</key>
                <string>{237,478}</string>
            </dict>
            <key>chibi_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{539,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,203}}</string>
                <key>sourceSize</key>
                <string>{539,203}</string>
            </dict>
            <key>chibi_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{343,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,353}}</string>
                <key>sourceSize</key>
                <string>{343,353}</string>
            </dict>
            <key>chibi_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{290,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,572}}</string>
                <key>sourceSize</key>
                <string>{290,572}</string>
            </dict>
            <key>chibi_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{244,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,572}}</string>
                <key>sourceSize</key>
                <string>{244,572}</string>
            </dict>
            <key>chibi_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,576},{198,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,532}}</string>
                <key>sourceSize</key>
                <string>{198,532}</string>
            </dict>
            <key>chibi_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{475,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,443}}</string>
                <key>sourceSize</key>
                <string>{475,443}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chibi3.png</string>
            <key>size</key>
            <string>{1023,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd8d9f004b85db0582b123677a5b38e6:782dbc410062b9cb19b4e15ab1111ba1:6f80af25117a6f8cb61e812fc36b24ab$</string>
            <key>textureFileName</key>
            <string>chibi3.png</string>
        </dict>
    </dict>
</plist>
