<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chibi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,243}}</string>
                <key>sourceSize</key>
                <string>{491,243}</string>
            </dict>
            <key>chibi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{330,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,356}}</string>
                <key>sourceSize</key>
                <string>{330,356}</string>
            </dict>
            <key>chibi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,456},{381,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,167}}</string>
                <key>sourceSize</key>
                <string>{381,167}</string>
            </dict>
            <key>chibi_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{210,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,196}}</string>
                <key>sourceSize</key>
                <string>{210,196}</string>
            </dict>
            <key>chibi_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,456},{272,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,356}}</string>
                <key>sourceSize</key>
                <string>{272,356}</string>
            </dict>
            <key>chibi_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,200},{196,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,166}}</string>
                <key>sourceSize</key>
                <string>{196,166}</string>
            </dict>
            <key>chibi_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{562,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,149}}</string>
                <key>sourceSize</key>
                <string>{562,149}</string>
            </dict>
            <key>chibi_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,385},{694,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,69}}</string>
                <key>sourceSize</key>
                <string>{694,69}</string>
            </dict>
            <key>chibi_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,202},{181,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,572}}</string>
                <key>sourceSize</key>
                <string>{181,572}</string>
            </dict>
            <key>chibi_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{198,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,532}}</string>
                <key>sourceSize</key>
                <string>{198,532}</string>
            </dict>
            <key>chibi_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,730},{337,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,242}}</string>
                <key>sourceSize</key>
                <string>{337,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chibi4.png</string>
            <key>size</key>
            <string>{1019,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd8d9f004b85db0582b123677a5b38e6:782dbc410062b9cb19b4e15ab1111ba1:6f80af25117a6f8cb61e812fc36b24ab$</string>
            <key>textureFileName</key>
            <string>chibi4.png</string>
        </dict>
    </dict>
</plist>
