<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>刺光效_ciji0003.png</key>
			<dict>
				<key>width</key>
				<integer>565</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>565</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>刺光效_ciji0005.png</key>
			<dict>
				<key>width</key>
				<integer>586</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>586</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hengpi_hengpi-04.png</key>
			<dict>
				<key>width</key>
				<integer>417</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>417</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhaoyun_pifeng3.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>227</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pifeng-.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>披风6.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>187</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>披风7.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>披风4+.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>236</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>567</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>披风3+.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhaoyun1.png</string>
			<key>realTextureFileName</key>
			<string>zhaoyun1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>