<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hjzl_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{348,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,423}}</string>
                <key>sourceSize</key>
                <string>{348,423}</string>
            </dict>
            <key>hjzl_brokengate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{388,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,421}}</string>
                <key>sourceSize</key>
                <string>{388,421}</string>
            </dict>
            <key>hjzl_gate4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,427},{201,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,561}}</string>
                <key>sourceSize</key>
                <string>{201,561}</string>
            </dict>
            <key>hjzl_gate6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,564}}</string>
                <key>sourceSize</key>
                <string>{250,564}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hjzlgate2.png</string>
            <key>size</key>
            <string>{604,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d40d3c79c539d3d8a2a039ecea8ba9:f7ecb2f0bb68073734edec5e81e17992:96082b26ad830aadd190e746b6f8db77$</string>
            <key>textureFileName</key>
            <string>hjzlgate2.png</string>
        </dict>
    </dict>
</plist>
