<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nm_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{727,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,189}}</string>
                <key>sourceSize</key>
                <string>{727,189}</string>
            </dict>
            <key>nm_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{956,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{956,171}}</string>
                <key>sourceSize</key>
                <string>{956,171}</string>
            </dict>
            <key>nm_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,394}}</string>
                <key>sourceSize</key>
                <string>{768,394}</string>
            </dict>
            <key>nm_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{768,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,394}}</string>
                <key>sourceSize</key>
                <string>{768,394}</string>
            </dict>
            <key>nm_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,960},{263,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,40}}</string>
                <key>sourceSize</key>
                <string>{263,40}</string>
            </dict>
            <key>nm_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,598},{233,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,62}}</string>
                <key>sourceSize</key>
                <string>{233,62}</string>
            </dict>
            <key>nm_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{332,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,57}}</string>
                <key>sourceSize</key>
                <string>{332,57}</string>
            </dict>
            <key>nm_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,336},{260,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,57}}</string>
                <key>sourceSize</key>
                <string>{260,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nm1.png</string>
            <key>size</key>
            <string>{1009,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f6e2ada0a2b5c85b73575fc6af2272:ac6389cd709e16c91267960be4321b43:06903d76cd357a7d3aac9c3688b625e6$</string>
            <key>textureFileName</key>
            <string>nm1.png</string>
        </dict>
    </dict>
</plist>
