<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nm_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{726,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,392}}</string>
                <key>sourceSize</key>
                <string>{726,392}</string>
            </dict>
            <key>nm_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{476,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,359}}</string>
                <key>sourceSize</key>
                <string>{476,359}</string>
            </dict>
            <key>nm_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{864,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{864,180}}</string>
                <key>sourceSize</key>
                <string>{864,180}</string>
            </dict>
            <key>nm_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{693,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,128}}</string>
                <key>sourceSize</key>
                <string>{693,128}</string>
            </dict>
            <key>nm_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,868},{307,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,109}}</string>
                <key>sourceSize</key>
                <string>{307,109}</string>
            </dict>
            <key>nm_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,396},{311,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,95}}</string>
                <key>sourceSize</key>
                <string>{311,95}</string>
            </dict>
            <key>nm_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,396},{294,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{294,108}</string>
            </dict>
            <key>nm_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,887},{162,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,108}}</string>
                <key>sourceSize</key>
                <string>{162,108}</string>
            </dict>
            <key>nm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{471,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,87}}</string>
                <key>sourceSize</key>
                <string>{471,87}</string>
            </dict>
            <key>nm_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,475},{107,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,390}}</string>
                <key>sourceSize</key>
                <string>{107,390}</string>
            </dict>
            <key>nm_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{511,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,92}}</string>
                <key>sourceSize</key>
                <string>{511,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nm2.png</string>
            <key>size</key>
            <string>{1021,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f6e2ada0a2b5c85b73575fc6af2272:ac6389cd709e16c91267960be4321b43:06903d76cd357a7d3aac9c3688b625e6$</string>
            <key>textureFileName</key>
            <string>nm2.png</string>
        </dict>
    </dict>
</plist>
