<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{582,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,349}}</string>
                <key>sourceSize</key>
                <string>{582,349}</string>
            </dict>
            <key>nm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,361}}</string>
                <key>sourceSize</key>
                <string>{794,361}</string>
            </dict>
            <key>nm_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{838,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,168}}</string>
                <key>sourceSize</key>
                <string>{838,168}</string>
            </dict>
            <key>nm_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,842},{167,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,149}}</string>
                <key>sourceSize</key>
                <string>{167,149}</string>
            </dict>
            <key>nm_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,365},{160,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,51}}</string>
                <key>sourceSize</key>
                <string>{160,51}</string>
            </dict>
            <key>nm_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{287,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,93}}</string>
                <key>sourceSize</key>
                <string>{287,93}</string>
            </dict>
            <key>nm_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,762},{243,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,390}}</string>
                <key>sourceSize</key>
                <string>{243,390}</string>
            </dict>
            <key>nm_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,365},{148,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,395}}</string>
                <key>sourceSize</key>
                <string>{148,395}</string>
            </dict>
            <key>nm_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{392,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,185}}</string>
                <key>sourceSize</key>
                <string>{392,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nm3.png</string>
            <key>size</key>
            <string>{1007,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f6e2ada0a2b5c85b73575fc6af2272:ac6389cd709e16c91267960be4321b43:06903d76cd357a7d3aac9c3688b625e6$</string>
            <key>textureFileName</key>
            <string>nm3.png</string>
        </dict>
    </dict>
</plist>
