<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nm_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{872,262}}</string>
                <key>offset</key>
                <string>{-27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{872,262}}</string>
                <key>sourceSize</key>
                <string>{926,282}</string>
            </dict>
            <key>nm_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,720},{801,278}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,19},{801,278}}</string>
                <key>sourceSize</key>
                <string>{905,298}</string>
            </dict>
            <key>nm_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{864,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{864,225}}</string>
                <key>sourceSize</key>
                <string>{864,225}</string>
            </dict>
            <key>nm_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{864,225}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{864,225}}</string>
                <key>sourceSize</key>
                <string>{908,225}</string>
            </dict>
            <key>nm_newgate7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{194,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{194,300}}</string>
                <key>sourceSize</key>
                <string>{202,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nmm1.png</string>
            <key>size</key>
            <string>{1001,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c08dbc5385dfdc7e61bae443d593571:6e2616ccaaad83703b7ace83393cdafb:3a6d87630f7a3ae9cb5931806e558136$</string>
            <key>textureFileName</key>
            <string>nmm1.png</string>
        </dict>
    </dict>
</plist>
