<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nm_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{819,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,147}}</string>
                <key>sourceSize</key>
                <string>{819,147}</string>
            </dict>
            <key>nm_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{902,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,168}}</string>
                <key>sourceSize</key>
                <string>{902,168}</string>
            </dict>
            <key>nm_newgate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,618},{362,404}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,404}}</string>
                <key>sourceSize</key>
                <string>{382,414}</string>
            </dict>
            <key>nm_newgate10.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,321},{295,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,465}}</string>
                <key>sourceSize</key>
                <string>{295,465}</string>
            </dict>
            <key>nm_newgate4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{205,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,512}}</string>
                <key>sourceSize</key>
                <string>{205,512}</string>
            </dict>
            <key>nm_newgate5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{205,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,512}}</string>
                <key>sourceSize</key>
                <string>{205,512}</string>
            </dict>
            <key>nm_newgate6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{205,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,512}}</string>
                <key>sourceSize</key>
                <string>{205,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nmm2.png</string>
            <key>size</key>
            <string>{983,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c08dbc5385dfdc7e61bae443d593571:6e2616ccaaad83703b7ace83393cdafb:3a6d87630f7a3ae9cb5931806e558136$</string>
            <key>textureFileName</key>
            <string>nmm2.png</string>
        </dict>
    </dict>
</plist>
