<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nm_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{751,108}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{751,108}}</string>
                <key>sourceSize</key>
                <string>{819,116}</string>
            </dict>
            <key>nm_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{819,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,95}}</string>
                <key>sourceSize</key>
                <string>{819,95}</string>
            </dict>
            <key>nm_newgate11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{341,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,466}}</string>
                <key>sourceSize</key>
                <string>{341,466}</string>
            </dict>
            <key>nm_newgate12.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,209},{268,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,511}}</string>
                <key>sourceSize</key>
                <string>{268,511}</string>
            </dict>
            <key>nm_newgate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,209},{336,360}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,360}}</string>
                <key>sourceSize</key>
                <string>{342,360}</string>
            </dict>
            <key>nm_newgate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,571},{332,360}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,360}}</string>
                <key>sourceSize</key>
                <string>{340,360}</string>
            </dict>
            <key>nm_newgate8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{188,318}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{188,318}}</string>
                <key>sourceSize</key>
                <string>{194,318}</string>
            </dict>
            <key>nm_newgate9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,722},{176,331}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{176,331}}</string>
                <key>sourceSize</key>
                <string>{182,331}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nmm3.png</string>
            <key>size</key>
            <string>{953,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c08dbc5385dfdc7e61bae443d593571:6e2616ccaaad83703b7ace83393cdafb:3a6d87630f7a3ae9cb5931806e558136$</string>
            <key>textureFileName</key>
            <string>nmm3.png</string>
        </dict>
    </dict>
</plist>
