<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{286,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,638}}</string>
                <key>sourceSize</key>
                <string>{286,638}</string>
            </dict>
            <key>jz_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{649,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,217}}</string>
                <key>sourceSize</key>
                <string>{649,217}</string>
            </dict>
            <key>jz_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{654,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,212}}</string>
                <key>sourceSize</key>
                <string>{654,212}</string>
            </dict>
            <key>jz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{234,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,299}}</string>
                <key>sourceSize</key>
                <string>{234,299}</string>
            </dict>
            <key>jz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{666,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,96}}</string>
                <key>sourceSize</key>
                <string>{666,96}</string>
            </dict>
            <key>jz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{670,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,96}}</string>
                <key>sourceSize</key>
                <string>{670,96}</string>
            </dict>
            <key>jz_gate7.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,238},{335,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,636}}</string>
                <key>sourceSize</key>
                <string>{335,636}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jz7.png</string>
            <key>size</key>
            <string>{995,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd65c28e44c0a6b14f60d640e451815:0564169ceb7a0156af74c3ce6ac64bae:992b14a70a0a1c3d442512134accc262$</string>
            <key>textureFileName</key>
            <string>jz7.png</string>
        </dict>
    </dict>
</plist>
