<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,640},{351,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,161}}</string>
                <key>sourceSize</key>
                <string>{351,161}</string>
            </dict>
            <key>jz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{577,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,133}}</string>
                <key>sourceSize</key>
                <string>{577,133}</string>
            </dict>
            <key>jz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{576,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,192}}</string>
                <key>sourceSize</key>
                <string>{576,192}</string>
            </dict>
            <key>jz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,672},{129,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,284}}</string>
                <key>sourceSize</key>
                <string>{129,284}</string>
            </dict>
            <key>jz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{195,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,636}}</string>
                <key>sourceSize</key>
                <string>{195,636}</string>
            </dict>
            <key>jz_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{617,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,212}}</string>
                <key>sourceSize</key>
                <string>{617,212}</string>
            </dict>
            <key>jz_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{582,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,190}}</string>
                <key>sourceSize</key>
                <string>{582,190}</string>
            </dict>
            <key>jz_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{668,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,176}}</string>
                <key>sourceSize</key>
                <string>{668,176}</string>
            </dict>
            <key>jz_gate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{195,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,636}}</string>
                <key>sourceSize</key>
                <string>{195,636}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jz8.png</string>
            <key>size</key>
            <string>{996,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd65c28e44c0a6b14f60d640e451815:0564169ceb7a0156af74c3ce6ac64bae:992b14a70a0a1c3d442512134accc262$</string>
            <key>textureFileName</key>
            <string>jz8.png</string>
        </dict>
    </dict>
</plist>
